#mainheading {
    text-align: center;
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#body {
    background-color: lightgreen;
}

.p-t-info {
    color: darkgreen;
}


.input-color {
    background-color: white;
    border-color: darkgreen;
    border-radius: 5px;
}

.main-border {
    border-color: darkgreen;
    border-radius: 10px;
    border-style: double;
}

#submit-button {
    background-color: darkgreen;
    color: white;
    border: 0cm;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: large;
}

#submit-btn-2 {
    text-align: center;
}